# Binaries (e.g. solc, solcjs)
*.bin

# Environment variables
.env

# IDEs
.vscode

# Logs
logs
*.log

# Manticore
mcore_*/

# Mythx
bin/

# NPM
node_modules

# Solidity coverage
coverage/

# Truffle
build/
